.welcome {
	text-align:center;
	padding-bottom:30px;
}

.contact-button {
	text-align:center;
}


h1 {
	text-align:center;
	padding-top:50px;
}


body {
	padding-top: 70px;
	position:relative;
}



.who {
	text-align:center;
	padding-top:50px;
}



.contact {
	text-align:center;
}



.photography {
	text-align:center;
}

.photography ul li img {
	cursor:pointer;
}

.photography ul li {
	list-style:none;
	margin-bottom:25px;
}

.photography ul {
	margin-top:20px;
}



.2d {
	text-align:center;
}

.2d ul li img {
	cursor:pointer;
}

.2d ul li {
	list-style:none;
	margin-bottom:25px;
}

.2d ul {
	margin-top:25px;
}