.welcome {
	text-align:center;
	padding-bottom:30px;
}

.contact-button {
	text-align:center;
}


body {
	padding-top: 70px;
	position:relative;
}

.who {
	text-align:center;
	padding-top:50px;
}

.contact {
	text-align:center;
	padding-top:50px;
}

.photography {
	text-align:center;
	padding-top:50px;
}